* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: #000;
}

.navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 80px;
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  z-index: 99;
}

.navbar-container .navbar-logo {
  background-color: #ff0844;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 500;
}

.navbar-container .navbar-links {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .navbar-links li {
  padding: 0 35px;
  font-weight: 500;
}

.navbar-container .navbar-links li a {
  padding: 4px 0;
}

.navbar-container .navbar-links li a:hover {
  border-bottom: 2px solid #fff;
}

.navbar-container .navbar-links li:last-child {
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #ff0844;
  outline: none;
}

.navbar-container .navbar-links li:last-child a:hover {
  border-bottom: none;
}

.navbar-container .navbar-links li:last-child:hover {
  background-color: #536DFE;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.toggler {
  position: absolute;
  cursor: pointer;
  width: 28px;
  height: 20px;
  top: 2.1rem;
  right: 1rem;
  z-index: 999;
  cursor: pointer;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggler-hamburger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggler-hamburger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggler-hamburger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggler-hamburger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.toggler-hamburger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.toggler-hamburger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 90vh;
  padding: 40px;
}

.main-container .main-content h1 {
  background-color: #ff0844;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#fff));
  background-image: linear-gradient(to top, #ff0844 0%, #fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.main-container .main-content h2 {
  background-color: #ff0844;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#536DFE), to(#fff));
  background-image: linear-gradient(to top, #536DFE 0%, #fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.main-container .main-content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main-container .main-content .main-btn {
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 15px 30px;
  margin-top: 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ff3b6c));
  background-image: linear-gradient(to top, #ff0844 0%, #ff3b6c 100%);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-container .main-content .main-btn a {
  position: relative;
  font-weight: 700;
  z-index: 2;
}

.main-container .main-content .main-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #536DFE;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-container .main-content .main-btn:hover::after {
  width: 100%;
}

.main-container .main-img {
  height: 70%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-img img {
  width: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 30px;
  color: #fff;
}

.services h1 {
  background-color: #ff8177;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a), color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  margin-bottom: 2.5rem;
  font-size: 4rem;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
}

.services-container .services-card {
  margin: 1rem;
  width: 380px;
  height: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(17, 17, 17, 0.6))), url("../images/pic2.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("../images/pic2.jpg");
  background-size: cover;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.services-container .services-card h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.services-container .services-card p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.services-container .services-card button {
  margin-bottom: 4rem;
  border: none;
  outline: none;
  background-color: #ff0844;
  color: #fff;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.services-container .services-card:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.services-container .services-card:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(17, 17, 17, 0.6))), url("../images/pic3.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("../images/pic3.jpg");
}

.footer {
  background-color: #000;
  height: 50vh;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}

.footer-container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container-items .item h2 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 7px;
}

.footer-container-items .item a {
  margin-bottom: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 300;
}

.footer-container .logo-nd-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: 60px 0;
}

.footer-container .logo-nd-social .fa-gem {
  color: #ff0844;
}

.footer-container .logo-nd-social p {
  margin-top: 0.7rem;
}

.footer-container .logo-nd-social .social-icons a {
  margin-right: 1rem;
}

.footer-container .logo-nd-social .social-icons a:hover i {
  color: #ff0844;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

@media (max-width: 768px) {
  .toggler {
    visibility: visible;
  }
  .navbar-logo {
    z-index: 5;
  }
  .navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 60vh;
    background-color: #000;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navbar-links li {
    margin-top: 50px;
  }
  .navbar-links.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .main-container .main-content {
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services {
    height: auto;
  }
  .services h1 {
    font-size: 3rem;
  }
  .services-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .main-container .main-content h1 {
    font-size: 2rem;
  }
  .main-container .main-content h2 {
    font-size: 2rem;
  }
  .main-container .main-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .services {
    margin-bottom: 4rem;
  }
  .services h1 {
    font-size: 2.3rem;
    text-align: center;
  }
  .services-container .services-card {
    width: 250px;
    height: 350px;
  }
  .footer {
    height: auto;
  }
  .footer-container-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-container-items .item {
    margin-bottom: 2rem;
  }
  .footer-container .logo-nd-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-container .logo-nd-social .social-icons {
    margin-top: 2rem;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background-color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */