.footer{
    background-color: #000;
    height: 50vh;
  
    &-container{
        max-width: 1300px;
        margin: 0 auto;
        padding: 30px;

        &-items{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item{
              display: flex;
              flex-direction: column;

              h2{
                  font-size: 1.8rem;
                  color: $text-color;
                  margin-bottom: 7px;
              }

              a{
                margin-bottom: 4px;
                font-size: 1.3rem;
                cursor: pointer;
                font-weight: 300;
              }
            }
        }
        .logo-nd-social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $text-color;
            margin: 60px 0;

            .fa-gem{
                color: $primary-color;
            }

            p{
                margin-top: 0.7rem;
            }

            .social-icons a{
                margin-right: 1rem;

                &:hover i{
                    color: $primary-color;
                    transform: rotate(30deg);
                }
            }
        }
    }
}