@include media-md {

    .toggler{
        visibility:visible;
    }
    .navbar{

        &-logo{
            z-index: 5;
        }

        &-links{
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            width: 100vw;
            height: 60vh;
            background-color: $dark;
            transform: translateY(-100%);
            @include transition-ease;
            
            & li{
                margin-top: 50px;
            }

            &.open{
                transform: translateY(0);
            }
        }
    }
   
   .main{

    &-container{
        grid-template-columns: 1fr;
        height: auto;

        .main-content{
            height: 85vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
   }
   .services{
        height: auto;

        h1{
            font-size: 3rem;
        }

        &-container{
            grid-template-columns: 1fr;
        }
   }
}

// small devices

@include media-sm{

    .main{

        &-container{

            .main-content{

                h1{
                    font-size: 2rem;
                }

                h2{
                    font-size: 2rem;
                }

                p{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .services{
        margin-bottom: 4rem;

        h1{
            font-size: 2.3rem;
            text-align: center;
        }

        &-container{

            .services-card{
                width: 250px;
                height:350px;
            }
        }
    }

    .footer{
        height: auto;

        &-container{

            &-items{
                flex-direction: column;
                align-items: flex-start;

                .item{
                    margin-bottom: 2rem;
                }
            }

            .logo-nd-social{
                flex-direction: column;
                align-items: flex-start;

                .social-icons{
                    margin-top: 2rem;
                }
            }
        }
    }
}